In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
os.listdir() #Combined_data_file

['.DS_Store',
 '.ipynb_checkpoints',
 '__pycache__',
 'Combined_data_file.csv',
 'INFO 7390 Assignment 2.pdf',
 'LoanStats3a.csv',
 'LoanStats3a.csv.zip',
 'LoanStats3b.csv',
 'LoanStats3b.csv.zip',
 'LoanStats3c.csv',
 'LoanStats3c.csv.zip',
 'LoanStats3d.csv',
 'LoanStats3d.csv.zip',
 'LoanStats_2016Q1.csv',
 'LoanStats_2016Q1.csv.zip',
 'LoanStats_2016Q2.csv',
 'LoanStats_2016Q2.csv.zip',
 'LoanStats_2016Q3.csv',
 'LoanStats_2016Q3.csv.zip',
 'LoanStats_2016Q4.csv',
 'LoanStats_2016Q4.csv.zip',
 'luigi.py',
 'Manually_dowloaded_file',
 'Merging_The_file_To_one_Dataset.ipynb',
 'Scraping_loan_data.ipynb',
 'Untitled.ipynb',
 'Validation_Script.ipynb']

In [23]:
data_frame = pd.read_csv('Combined_data_file.csv')

/Users/vikasshah/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,19,47,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
def missing_values_table(df): 
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum()/len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        return mis_val_table_ren_columns

In [8]:
missing_values_table(data_frame)

                                Missing Values  % of Total Values
id                                           0           0.000000
member_id                                    3           0.000227
loan_amnt                                    3           0.000227
funded_amnt                                  3           0.000227
funded_amnt_inv                              3           0.000227
term                                         3           0.000227
int_rate                                     3           0.000227
installment                                  3           0.000227
grade                                        3           0.000227
sub_grade                                    3           0.000227
emp_title                                79805           6.049986
emp_length                                   3           0.000227
home_ownership                               3           0.000227
annual_inc                                   3           0.000227
verification_status                          3           0.000227
issue_d                                      3           0.000227
loan_status                                  3           0.000227
pymnt_plan                                   3           0.000227
url                                          3           0.000227
desc                                   1195449          90.626521
purpose                                      3           0.000227
title                                    23325           1.768259
zip_code                                     3           0.000227
addr_state                                   3           0.000227
dti                                          3           0.000227
delinq_2yrs                                  3           0.000227
earliest_cr_line                             3           0.000227
inq_last_6mths                               4           0.000303
mths_since_last_delinq                  657970          49.880448
mths_since_last_record                 1099978          83.388902
...                                        ...                ...
mo_sin_rcnt_tl                           67530           5.119423
mort_acc                                 47284           3.584582
mths_since_recent_bc                     59035           4.475420
mths_since_recent_bc_dlq               1000332          75.834778
mths_since_recent_inq                   179429          13.602442
mths_since_recent_revol_delinq          870568          65.997419
num_accts_ever_120_pd                    67530           5.119423
num_actv_bc_tl                           67530           5.119423
num_actv_rev_tl                          67530           5.119423
num_bc_sats                              55844           4.233512
num_bc_tl                                67530           5.119423
num_il_tl                                67530           5.119423
num_op_rev_tl                            67530           5.119423
num_rev_accts                            67531           5.119499
num_rev_tl_bal_gt_0                      67530           5.119423
num_sats                                 55844           4.233512
num_tl_120dpd_2m                        116253           8.813094
num_tl_30dpd                             67530           5.119423
num_tl_90g_dpd_24m                       67530           5.119423
num_tl_op_past_12m                       67530           5.119423
pct_tl_nvr_dlq                           67683           5.131022
percent_bc_gt_75                         60278           4.569652
pub_rec_bankruptcies                       700           0.053067
tax_liens                                   42           0.003184
tot_hi_cred_lim                          67530           5.119423
total_bal_ex_mort                        47284           3.584582
total_bc_limit                           47284           3.584582
total_il_high_credit_limit               67530           5.119423
file_name                                    0           0.000000
time_stamp                                   0           0.000000

[113 rows x 2 columns]

In [24]:
## making a copy og the dataframe
data_frame_1 = data_frame 
data_frame_1.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,file_name,time_stamp
0,10119623,11971241.0,12000.0,12000.0,12000.0,36 months,11.99%,398.52,B,B3,...,100.0,1.0,0.0,0.0,365874.0,44327.0,10700.0,57674.0,/LoanStats3b,2017-04-05 12:34:57
1,10224583,12086734.0,11100.0,11100.0,11100.0,36 months,14.98%,384.68,C,C3,...,75.0,50.0,0.0,0.0,385000.0,6619.0,4000.0,0.0,/LoanStats3b,2017-04-05 12:34:57

# Validation function

In [25]:
## find the number of nan in each column
#Q2.isnull().sum()
## fill na
def validate_field(Q2):
    Q3 = Q2[np.isfinite(Q2['member_id'])]
    Q3['emp_title'].fillna("unknown",inplace=True)
    Q3.mths_since_last_delinq= Q3.mths_since_last_delinq.interpolate()
    Q3['mths_since_recent_bc'] = Q3['mths_since_recent_bc'].interpolate()
    Q3['mths_since_recent_bc_dlq'] =Q3['mths_since_recent_bc_dlq'].interpolate(limit=50)
    Q3['mths_since_recent_inq'] =Q3['mths_since_recent_inq'].interpolate()
    Q3['mths_since_recent_revol_delinq'] =Q3['mths_since_recent_revol_delinq'].interpolate()
    Q3['num_tl_120dpd_2m'] =Q3['num_tl_120dpd_2m'].interpolate()
    Q3['percent_bc_gt_75'] =Q3['percent_bc_gt_75'].interpolate()
    Q3['last_pymnt_d'] = Q3['last_pymnt_d'].fillna('Unknown')
    Q3['next_pymnt_d']= Q3['next_pymnt_d'].fillna('Unknown')
    Q3['last_credit_pull_d'] = Q3['last_credit_pull_d'].fillna('Unknown')
    Q3['mths_since_last_major_derog'].fillna(0,inplace=True)
    Q3['annual_inc_joint'] =Q3['annual_inc_joint'].interpolate()
    Q3['dti_joint'] =Q3['dti_joint'].interpolate()
    Q3['verification_status_joint'].fillna('unknown',inplace=True)
    Q3['mths_since_rcnt_il'] =Q3['mths_since_rcnt_il'].interpolate()
    Q3['il_util'] =Q3['il_util'].interpolate()
    Q3['bc_open_to_buy'] =Q3['bc_open_to_buy'].interpolate()
    Q3['bc_util'] =Q3['bc_util'].interpolate()
    Q3['mo_sin_old_il_acct'].fillna(0,inplace=True)
    Q3['title'].fillna('unknown',inplace=True)
    Q3['mths_since_last_delinq'].fillna(0,inplace=True)
    Q3['desc'].fillna('unknown',inplace=True)
    Q3['mths_since_last_record'].fillna(0,inplace=True) 
    Q3['mths_since_recent_bc_dlq'].fillna(0,inplace=True)
    Q3['mths_since_recent_revol_delinq'].fillna(0,inplace=True)

    #Remove % symbol from the interest rate & revolving utilization
    Q3['revol_util'] = Q3['revol_util'].str.split('%',1).str[0]
    Q3['int_rate'] = Q3['int_rate'].str.split('%',1).str[0]

    ## drop months from the column 
    Q3['term']=Q3['term'].str.split(' ',2).str[1]

    ## fill if any nan left with zero
    Q3.fillna(0,inplace=True)
    
    return Q3

# Calling the validation function

In [26]:
validate_frame_2 = validate_field(data_frame_1)

/Users/vikasshah/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/vikasshah/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/vikasshah/anaconda/lib/python3.5/site-packages/pandas/core/frame.py:2842: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [27]:
validate_frame_2.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,file_name,time_stamp
0,10119623,11971241.0,12000.0,12000.0,12000.0,36,11.99,398.52,B,B3,...,100.0,1.0,0.0,0.0,365874.0,44327.0,10700.0,57674.0,/LoanStats3b,2017-04-05 12:34:57
1,10224583,12086734.0,11100.0,11100.0,11100.0,36,14.98,384.68,C,C3,...,75.0,50.0,0.0,0.0,385000.0,6619.0,4000.0,0.0,/LoanStats3b,2017-04-05 12:34:57
2,10159584,12011200.0,9750.0,9750.0,9750.0,36,13.98,333.14,C,C1,...,100.0,66.7,0.0,0.0,21314.0,14123.0,7200.0,6214.0,/LoanStats3b,2017-04-05 12:34:57
3,10139658,11991209.0,12000.0,12000.0,12000.0,36,13.53,407.40,B,B5,...,81.2,33.3,0.0,0.0,18130.0,13605.0,7000.0,10030.0,/LoanStats3b,2017-04-05 12:34:57
4,10149566,12001108.0,8000.0,8000.0,8000.0,36,10.99,261.88,B,B2,...,100.0,75.0,1.0,0.0,33226.0,15949.0,8200.0,12426.0,/LoanStats3b,2017-04-05 12:34:57

In [29]:
## store the validated file in a csv
print("Saving the validated file in a csv..")
validate_frame_2.to_csv('LoanStats_Validated.csv',index=None)
print("Succeffully saved..")

Saving the validated file in a csv..
Succeffully saved..